* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Permanent Marker', cursive;
}

body {
  height: 100vh;
  background-image: url("../images/guardians_shadow_mercury.jpg") ; /* Photo by Alexander Andrews on Unsplash */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top; 
   
   
    
  
}

.open {
  width: (100%);
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.mainTag {
  color: #c5c5c5;
  font-weight: bolder;
}

.welcome {
  color: #ffffff;
  font-weight: 800;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
}

.btn-handle {
  border: 2px solid #2580b3;
  color: #fff;
}

.btn-handle:hover {
  background: linear-gradient(115.87deg, #14f1d9 0%, #3672f8 100%);
}

.headTag,
.points > p {
  color: #c5c5c5;
  font-weight: bolder;
}

#point {
  font-weight: 1300;
}

.memory-game {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  z-index: -1;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 5px;
  background-image: linear-gradient(-225deg, #6b0579 0%, #dc7ae9 100%);
  
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 2px; /* was 10px */
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
  background-image: linear-gradient(-225deg, #fac310 0%, #f8d49d 100%);
  
}

#won {
  visibility: hidden; /*hidden*/
  border-radius: 10px;
  background: #ffbdf1;
  background-image: linear-gradient(to bottom, #e598f8 0%, #db68f8 100%);
  margin: auto;
  position: absolute;
  top: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: 5px solid #5e0766
}

#won > h1,
#won p {
  font-weight: bolder;
}

#playAgain {
  border: 2px solid #5e0766;
  border-radius: 5px;
  background: #b905b0;
}

#playAgain:hover {
  border: 2px solid #645e64;
  background: linear-gradient(115.87deg, #b47eb2 0%, #aca2b1 100%);
}


.sound {
    background-color: #e91303;
    
}

.toggle {
    background-image: url("../images/vortex.svg");
}


.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}

/* https://stackoverflow.com/questions/22918220/how-to-create-a-only-mute-unmute-button-like-youtube-in-html?lq=1 */

input#un-mute {
    display: none;
    
    
}

.unmute img {
    display: none;
    
}

input#un-mute:checked ~ .unmute img {
    display: initial;
    
}

input#un-mute:checked ~ .mute img {
    display: none;
    
}

#HelpBtn {
background-image: url("../images/question2.png");     /* https://www.flaticon.com/ */
cursor:pointer;
background-repeat: no-repeat;
background-position: 50% 50%;
width:100px; 
height:100px;
background-size: 30px;
margin-left: auto;
margin-right: auto;
display: flex;
max-width: 100%; /*for img-fluid? */


}

.soundon{ background-image: url("../images/volume_up.png"); /* https://www.flaticon.com/ */  max-width: 100%; margin-left: auto; margin-right: auto; background-position: 50% 50%; background-size: 30px; background-repeat: no-repeat; background-position: center;  width:100px; height:100px; cursor:pointer; }
.soundoff{ background-image: url("../images/no_sound.png"); /* https://www.flaticon.com/ */ max-width: 100%; margin-left: auto; margin-right: auto; background-position: 50% 50%; background-size: 30px; background-repeat: no-repeat; background-position: center;  width:100px; height:100px; cursor:pointer; }




/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */ /*none;*/
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  
}

/* The Close Button */
.close {
  color: #aaaaaa;
  top: 0;
  right: 0;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  padding: 7px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/*LARGE DEVICES*/
@media (min-width: 992px) {
  .mainTag {
    font-size: 80px;
    margin-top: 60px;
  }

  .welcome {
    font-size: 35px;
  }

  .btn-handle {
    font-size: 40px;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .memory-game {
    width: 640px;
    height: 530px;
  }
  .front-face,
  .back-face {
    padding: 2px; /* was 10px */
  }
  #won {
    padding: 50px;
  }

  .headTag {
    font-size: 70px;
  }

  .points > p,
  #won > h1,
  #won p,
  #playAgain {
    font-size: 35px;
  }
}

/*medium devices*/

@media (min-width: 768px) and (max-width: 991px) {
  .mainTag {
    font-size: 75px;
    margin-top: 60px;
  }

  .welcome {
    font-size: 30px;
  }

  .btn-handle {
    font-size: 35px;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .memory-game {
    width: 620px;
    height: 512px;
  }

  .front-face,
  .back-face {
    padding: 2px; /*10px */
  }

  #won {
    padding: 50px;
    top: 40%;
  }

  .headTag {
    font-size: 70px;
  }

  .points > p,
  #won > h1,
  #won p,
  #playAgain {
    font-size: 35px;
  }
}

/*SMALL DEVICES*/
@media (min-width: 576px) and (max-width: 767px) {
  .mainTag {
    font-size: 60px;
    margin-top: 50px;
  }

  .welcome {
    font-size: 25px;
  }

  .btn-handle {
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .memory-game {
    width: 480px;
    height: 398px;
  }
  .front-face,
  .back-face {
    padding: 2px; /* was 10px */
  }

  #won {
    padding: 35px;
    top: 30%;
  }

  .headTag {
    font-size: 50px;
  }

  .points > p,
  #won > h1,
  #won p,
  #playAgain {
    font-size: 30px;
  }

  #HelpBtn {
      background-size: 20px;
  }

  .soundon,
  .soundoff {
      background-size: 20px;
  }

}

/*EXTRA SMALL DEVICES*/
@media (min-width: 378px) and (max-width: 575px) {
  .mainTag {
    font-size: 45px;
    margin-top: 45px;
  }

  .welcome {
    font-size: 25px;
  }

  .btn-handle {
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .memory-game {
    width: 380px;
    height: 315px;
  }
  .front-face,
  .back-face {
    padding: 2px; /* was 10px */
  }

  #won {
    padding: 30px;
    top: 30%;
  }

  .headTag {
    font-size: 45px;
  }

  .points > p,
  #won > h1,
  #won p,
  #playAgain {
    font-size: 25px;
  }

  #HelpBtn {
      background-size: 20px;
  }

  .soundon,
  .soundoff {
      background-size: 20px;
  }

}

/*X-EXTRA SMALL DEVICES*/
@media (max-width: 377px) {
  .mainTag {
    font-size: 45px;
    margin-top: 40px;
  }

  .welcome {
    font-size: 20px;
  }

  .btn-handle {
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .memory-game {
    width: 340px;
    height: 282px;
  }

  .front-face,
  .back-face {
    padding: 2px; /* was 10px */
  }

  #won {
    padding: 15px;
    top: 30%;
  }

  .headTag {
    font-size: 40px;
  }

  .points > p,
  #won > h1,
  #won p,
  #playAgain {
    font-size: 25px;
  }

  #myBtn {
      background-size: 20px;
  }

  .soundon,
  .soundoff {
      background-size: 20px;
  }

}
